.container {
  font-family: monospace;
  margin-top: 10%;
  padding-top: 40px;
  max-width: 500px;
  min-height: 600px;
  border: solid 2px #ba68c8;
  border-radius: 3%;
  position: relative;
  background-image: linear-gradient(-20deg, #dcb0ed 0%, #99c99c 100%);

}

.insert-city {
  margin-bottom: 30px;
}
.scale {
  margin-bottom: 30px;
  text-align: right;
}

.city-date {
  margin-left: 10px;
}

.city {
  display: block;
  font-size: 24px;
  color: #fff;
}

.date {
  display: block;
  font-size: 16px;
}

.daily-temperature {
  display: block;
  color: #1eb3a9;
  font-size: 28px;
}

.active {
  color: #727989;
}

.button {
  display: block;
  height: 30px;
  width: 100px;
  margin: 0 10px;
}

.open-source {
  display: block;
  text-align: center;
  position: absolute;
  bottom: 0
}

.weather-detail-label,
.weather-detail-value{
  display: block;
}

.weather-detail-label {
  font-size: 15px;
}

.weather-detail-value{
  font-size: 25px;
}